<h1>Here are the details of the restaurant: <%= @restaurant.name %></h1>
<ul>
  <li> Name: <%= @restaurant.name %></li>
  <li> Address: <%= @restaurant.address %></li>
  <li> Phone number: <%= @restaurant.phone_number %></li>
  <li> Category: <%= @restaurant.category %></li>

</ul>

<%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: "btn btn-warning" %>

<br>
<br> <%= link_to 'Back to the list', restaurants_path, class: "btn btn-primary" %>
